= form_for @imovel do |f|
  - if @imovel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@imovel.errors.count, "error")} prohibited this imovel from being saved:"
      %ul
        - @imovel.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :endereco
    = f.text_field :endereco
  .field
    = f.label :area
    = f.text_field :area
  .field
    = f.label :quarto
    = f.number_field :quarto
  .field
    = f.label :sala
    = f.number_field :sala
  .field
    = f.label :cozinha
    = f.number_field :cozinha
  .field
    = f.label :banheiro
    = f.number_field :banheiro
  .field
    = f.label :areaExterna
    = f.text_field :areaExterna
  .field
    = f.label :areaDeServico
    = f.text_field :areaDeServico
  .field
    = f.label :garagem
    = f.number_field :garagem
  .field
    = f.label :tipo_de_imovel_id
    = f.collection_select :tipo_de_imovel_id, @todosimoveis, :id, :descricao
  .field
    = f.label :proprietario_id
    = f.collection_select :proprietario_id, @todosproprietarios, :id, :nome
  .actions
    = f.submit 'Save'
